<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="d-flex flex-column h-100">
  <div class="main">
    <h1 align='center' id='user'>{{user}}</h1>
    <h2>Contact list:</h2>
    <div id='contacts'>
    </div>
    <form action="/search" method="post"> Search for a user: <input type="text" name="user_name">
      <br>
      <button class='btn btn-primary' type="submit">Search</button>
    </form>
  </div>

<div id='groups' style='border: red solid 1px;'>
  <h5> Groups: </h5>
  {{#each groups}}
    <button onclick='seeGrp()'>{{this}}</button>
    <!--Display each group as a button. Here, groups is an array passed from the server -->
    <br>
  {{/each}}
   <a class="btn btn-primary" href="/addGrp">Add</a>
</div>
<script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-auth.js"></script>
<script type="text/javascript">
  function seeGrp()
  {
    var a = event.target || event.srcElement;
    // Get the source of event
    var curUser = document.getElementById('user').innerHTML;
    console.log("http://localhost:8000/group/" + curUser + '_' + a.innerHTML);
    window.location.href="http://localhost:8000/group/" + curUser + '_' + a.innerHTML;
    // Call the custom url
  }
</script>
</body>

</html>
